/* Import of Inika and Inter fonts */
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --green-color: #499A18;
    --orange-color: #E06733;
    --bg-section-color: #EDF2EC;
    --link-nav-color: #010201;
    --grayish-color: #717171;
    --dark-gray-color: #636060;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 100vh; */
    margin: 0;
    /* padding: 0; */
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: var(--grayish-color);
    margin-bottom: 42px;
}

a {
    text-decoration: none;
}

.first-header {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--green-color);
    margin-top: 0px;
    margin-bottom: 0px;
}

.orange {
    color: var(--orange-color);
}

.green {
    color: var(--green-color);
}

.main-wrapper {}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-section-color);
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1222px;
}

.nav__logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: center;
}

.nav__logo img {
    height: 20px;
    width: 20px;
    align-self: center;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav__list-link {
    text-decoration: none;
    color: var(--link-nav-color);
    padding: 0 20px;
    line-height: 50px;
}

.nav__list-link:hover {
    color: var(--orange-color);
}

.header-burger {
    width: 40px;
    height: 24px;
    position: relative;
    display: none;
}

.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    color: var(--grayish-color);
}

.burger-line_first {
    top: 0;
}

.burger-line_second {
    top: 7px;
}

.burger-line_third {
    bottom: 7px;
}

.burger-line_fourth {
    bottom: 0px;
}

.welcome {
    height: 532px;
    background-color: var(--bg-section-color);
    display: flex;
}

.welcome-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    /* padding: 187px 218px; */
    width: 1222px;
    height: 479px;
}

.welcome-section__image {
    width: 448.8px;
    height: 407.36px;
}

.welcome-section__content {
    height: 340px;
    width: 549px;
}

.welcome-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: var(--dark-gray-color);
    margin-bottom: 48px;
}

.welcome-button {
    width: 158px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid var(--orange-color);
    background-color: var(--bg-section-color);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.button:hover {
    background-color: var(--orange-color);
    color: white;
    transition: 0.6s linear;
}

.about {
    height: 666px;
    display: flex;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    /* padding: 187px 218px; */
    width: 1222px;
    height: 479px;
}

.about-section__content {
    width: 605px;
    height: 350px;
}

.about-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--dark-gray-color);
}

.about-section__image {
    width: 464px;
    height: 479px;
}

#service {
    height: 1300px;
    background-color: var(--bg-section-color);
}

.service-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 1222px;

}

.service-section__header {
    display: flex;
    flex-direction: row;
    height: 94px;
    width: 1007px;
    justify-content: space-between;
    margin-bottom: 90px;
    margin-top: 32px;
}

.service-section__header__buttons {
    display: flex;
    align-items: center;
}

.service-button {
    width: 161px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--orange-color);
    background-color: var(--bg-section-color);
    color: var(--orange-color);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-right: 38px;
}

.service-button:last-child {
    margin-right: 0;
}

.service-section__images {
    display: flex;
    flex-wrap: wrap;
}

.service-section__images__card {
    width: 330px;
    height: 450px;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
    margin-right: 116px;
    margin-bottom: 55px;
    text-align: center;
}

.service-section__images__card h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--orange-color);
    margin: 10px auto;
}

.service-section__images__card p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.no-margin {
    margin-right: 0;
}

#prices {
    height: 560px;
}

.prices-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1222px;
}

.prices-section__left-container {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.prices-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
}

.prices-tariffs {
    width: 332px;
    height: 282.01px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 41px;
    display: flex;
    flex-wrap: wrap;
}


.prices-section__right-container {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.prices-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.prices-info h4 {
    text-align: end;
}

.prices-button {
    width: 162px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: var(--orange-color);
    border-radius: 10px;
    border: 1px solid var(--orange-color);
    background-color: white;
    margin-top: 38px;
}

.prices-leafs {
    width: 152px;
    height: 174.99px;
}

.prices-tariffs__button {
    width: 250px;
    height: 50px;
    background: var(--bg-section-color);
    border-radius: 20px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

#contacts {
    height: 550px;
    background-color: var(--bg-section-color);
}

.contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1222px;
}

.contacts-header {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: var(--green-color);
}

.contacts-woman {
    position: relative;
    bottom: 0px;
}

.contacts-rectangle {
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: var(--grayish-color);
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 17px;
}

.contacts-rectangle img {
    height: 16px;
    width: 16px;
}

#footer {
    height: 130px;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    width: 1222px;
}

.footer-wrapper p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

.social-list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 188px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.social-item {
    list-style-type: none;
}

@media screen and (max-width: 768px) {

    /* .header-burger {
        width: 80px;
        height: 24px;
        position: relative;
        display: block;
    }
    
    .burger-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        left: 0;
        color: var(--grayish-color);
    } */

    h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
        margin: 0 auto 30px;
    }

    .nav {
        width: 100%;
        height: 117px;
        padding: 35px 50px;
    }

    #welcome {
        height: 420px;

    }

    .welcome-wrapper {
        height: 310px;
        width: 668px;
        margin: 40px 50px 70px 50px;
        flex-direction: row-reverse;
    }

    .welcome-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        margin: 0 auto 30px;
    }

    .welcome-section__image {
        width: 280px;
        height: 254.15px;
        left: 438px;
        top: 40px;

    }

    #about {
        width: 768px;
        height: 783px;
    }

    .about-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 768px;
        height: 783px;
    }

    .about-section__content {}

    .first-header {
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 40px;
    }

    .about-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }

    .about-section__image {
        width: 250px;
        height: 258px;
        /* left: 259px;
        top: 430px; */
    }

    #service {
        width: 768px;
        height: 1780px;
        left: 0px;
        top: 1320px;
    }

    .service-header {
        text-align: start;
    }

    .service-wrapper {
        margin: 60px auto 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
    }

    .service-section__header {
        display: flex;
        flex-direction: column;
        height: 50px;
        width: 560px;
        /* justify-content: ; */
        align-items: flex-start;
        margin-bottom: 90px;
        margin-top: 32px;
    }

    .service-section__header__buttons {}

    .service-section__images {
        /* width: 668px;
        height: 1426px; */
        justify-content: space-between;
        margin-top: 130px;
    }

    .service-section__images__card {
        width: 281px;
        height: 450px;
        border-radius: 20px;
        border: 1px solid #E3E1D5;
        margin-right: 5px;
        /* margin-bottom: 38px; */
        text-align: center;
    }

    .service-section__images__card h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: var(--orange-color);
        margin: 10px auto;
    }

    .service-section__images__card p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--grayish-color);
    }

    .service-section__images__card img {
        width: 280px;
        height: 350px;
    }

    #prices {
        height: 585px;
    }

    .prices-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        width: 668px;
    }

    .prices-section__left-container {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .prices-header {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        text-align: right;
        margin: 0;
        text-align: start;
    }

    .prices-section__right-container {
        margin-top: 139px;
    }

    .prices-tariffs__button {
        width: 250px;
        height: 50px;
        background: var(--bg-section-color);
        border-radius: 20px;
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }

    #contacts {
        height: 768px;
    }

    .contacts-wrapper {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .contacts-woman {
        height: 248px;
        width: 200px;
        position: absolute;
        top: 4265px;
    }

    #footer {
        height: 181px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        width: 50%;
    }

    .social-list {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        width: 210px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .social-item {
        list-style-type: none;
    }

}

@media screen and (max-width: 380px) {
    h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        display: flex;
        align-items: center;
        margin: 0 auto 30px;
        display: inline;
    }

    .nav {
        width: 100%;
        height: 96px;
        padding: 36px 25px;
        /* display: none; */
    }

    .nav-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

    .nav__logo {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-self: center;
    }

    .nav__logo img {
        height: 20px;
        width: 20px;
        align-self: center;
    }

    .nav__list {
        list-style: none;
        /* display: none; */
        flex-direction: row;
        width: 100%;
        height: 25%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #010201;
        z-index: 10;
        padding: 75px;
        flex-direction: column;
        transition: 0.2s all linear;
    }

    .nav__list_inactive {
        transform: translateX(100%);
    }

    .nav__list_active {
        transform: translateX(0);
    }

    .nav__list-link {
        text-decoration: none;
        color: var(--link-nav-color);
        padding: 0 20px;
        line-height: 50px;
    }

    .nav__list-item {
        /* width: 100%; */
    }

    .nav__list-link {
        color: white;
        font-size: 30px;
    }

    .nav__close {
        width: 40px;
        height: 24px;
        position: absolute;
        top: 35px;
        right: 22px;
        z-index: 11;
    }

    .nav__close_inactive {
        display: none;
    }

    .nav__close_active {
        display: fixed;
    }

    .nav__close-item {
        display: block;
        height: 2px;
        position: absolute;
        background-color: white;
        top: 50%;
        width: 100%;
        
    }

    .nav__close-item:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .nav__close-item:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .header-burger {
        width: 40px;
        height: 24px;
        position: relative;
        display: block;
    }

    .burger-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        left: 0;
        color: var(--grayish-color);
    }

    #welcome {
        height: 300px;

    }

    .welcome-wrapper {
        width: 330px;
        margin: auto;
        flex-direction: row-reverse;
    }

    .welcome-text {
        margin: 0 auto 30px;
        font-size: 16px;
        line-height: 25px;
    }

    .welcome-section__image {
        display: none;
    }

    .welcome-button {
        width: 100px;
        height: 34.14px;
        border-radius: 10px;
        border: 1px solid var(--orange-color);
        background-color: var(--bg-section-color);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
    }

    #about {
        width: 380px;
        height: 516px;
        /* necessary */
    }

    .about-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        height: 100%;
    }

    .about-section__content {
        margin: 30px 25px;
        width: 330px;
        height: 455px;
    }

    .first-header {
        font-family: 'Inika';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 21px;

    }

    .about-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }

    .about-section__image {
        width: 147px;
        height: 150px;
        /* left: 259px;
        top: 430px; */
    }

    #service {
        width: 100%;
        height: 3150px;
        /* left: 0px;
        top: 1320px; */
    }

    .service-header {
        text-align: start;
    }

    .service-wrapper {
        margin: 60px auto 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .service-section__header {
        display: flex;
        flex-direction: column;
        height: 50px;
        width: 360px;
        /* justify-content: ; */
        align-items: flex-start;
        /* margin-bottom: 90px; */
        margin-top: 30px;
        margin-left: 20px;
    }

    .service-section__header__buttons {
        height: 85px;
        width: 270px;
        display: flex;
        flex-wrap: wrap;
    }

    .service-button {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
        margin-right: 10px;
        margin-bottom: 9px;

    }

    .service-section__images {
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-top: 60px;
    }

    .service-section__images__card {
        width: 281px;
        height: 450px;
        border-radius: 20px;
        border: 1px solid #E3E1D5;
        margin-right: 5px;
        margin-bottom: 34px;
        text-align: center;
    }
    /* leave this class as it is (as for card dimentions) */

    .service-section__images__card h4 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: var(--orange-color);
        margin: 10px auto;
    }

    .service-section__images__card p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: var(--grayish-color);
    }

    .service-section__images__card img {
        width: 280px;
        height: 350px;
    }

    #prices {
        height: 512px;
    }

    .prices-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 100%;
    }

    .prices-section__left-container {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .prices-header {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        margin: 0 auto 40px;
    }

    .prices-tariffs {
        width: 235px;
        height: 224px;
        /* border: 1px solid #E3E1D5;
        border-radius: 20px; */
        /* padding: 34px 41px; */
        /* display: flex;
        flex-wrap: wrap; */
        /* justify-content: space-between; */
        

    }

    .prices-section__right-container {
        margin-top: 19px;
        align-items: center;
    }

    .prices-info {
        align-items: center;
    }

    .prices-info h4 {
        text-align: center;
        margin-bottom: 14px;
    }

    .prices-tariffs__button {
        width: 180px;
        height: 50px;
        background: var(--bg-section-color);
        border-radius: 20px;
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 13px;
    }

    .prices-button {
        width: 121px;
        height: 35px;
        font-size: 15px;
        margin-top: 14px;
    }

    .prices-leafs {
        display: none;
    }

    #contacts {
        height: 445px;
    }

    .contacts-wrapper {
        width: 90%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        /* flex-direction: row; */
        /* justify-content: space-around; */
        margin: auto;
    }

    .contacts-header {
        font-size: 25px;
        line-height: 33px;
    }

    .contacts-rectangle {
        width: 300px;
        height: 50px;
        top: -265px;
    }

    .contacts-woman {
        height: 125px;
        width: 100px;
        position: absolute;
        top: 4953px;
    }

    #footer {
        height: 146px;
        display: flex;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        width: 60%;
    }

    .footer-wrapper p {
        font-size: 20px;
        line-height: 24px;
        margin: 5px auto;
    }
    

    .social-list {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }

    .social-item {
        list-style-type: none;
    }

}